@font-face {
    font-family: "Poppins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
    font-style: medium;
    font-weight: 500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(253, 255, 237);
}

header{
    display: flex;
    justify-content: center;
}

img{
    margin: 10px;
}

h1, h2, h3, h4{
    margin: 15px;
}

h1, h3, h4{
    text-align: center;
}
h1{
    font-size: 60px;
}

h2{
    font-family: "Poppins", "Arial", sans-serif;
    font-style: normal;
    font-size: 45px;
}

h3{
    color: red;
    font-size:30px;
}

h4{
    font-size: 35px;
    font-family: "Poppins", "Arial", sans-serif;
    font-style: italic;
}

.topLinks{
    padding: 10px;
    font-size: 20px;
    border: 1px;
    display: flex;
}

.forgot{
    margin: 20px;
    font-size:40px; 
}

.textBlocks{
    display: flex;
    
    margin: 20px;
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 25px;
}

.right{
    max-width: 50%;
}

.gallery{
    display: flex;
    justify-content: right;
}

.nist{
    display: flex;
    justify-content: center;
}

.sources{
    margin: 5px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-family: "Poppins", "Arial", sans-serif;
}