@font-face {
    font-family: "Poppins";
    src: url("font/Poppins-Regular.woff");
    font-style: normal;
    font-weight: 300;
}


@font-face {
    font-family: "Poppins";
    src: url("font/Poppins-Bold.woff");
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url("font/Poppins-Bold.woff");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans";
    src: url("font/OpenSans-BoldItalic.woff");
    font-style: bold italic;
    font-weight: 700;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(90, 0, 90);
}

body{
    color:rgb(237, 237, 237)
}

header{
    display: flex;
    justify-content: center;
    background-color: rgb(56, 0, 58);
    padding-top: .5em;
    padding-bottom: 1em;
    position: fixed; 
    top: 0; 
    width: 100%;
}

img{
    margin: auto;
    padding: 15px;
}

h1, h2, h3, h4{
    margin: auto;
    padding: 10px;
}

h1, h3, h4{
    text-align: center;
}
h1{
    font-size: 60px;
}

h2{
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 45px;
}

h3{
    color: red;
    font-size:30px;
}

h4{
    font-size: 40px;
    font-family: "Open Sans", "Arial", sans-serif;
}

audio{
    justify-content: center;
}

.main{
    margin-top: 8em;
}

.topLinks{
    background-color: grey;
    color: blue;
    border: 5px solid black; 
    border-radius: 10%;
    padding: 10px 12px;
    text-align: center;
    display:block;
    font-size: 30px;
    margin-left: 1px;
    margin-right: 1px;
    text-decoration: none;
}

.notCurrent:hover{
    background-color: rgb(61, 61, 61);
    color:blueviolet;
    text-decoration: underline;
}

.notCurrent:active{
    background-color: rgb(177, 177, 177);
    color:black;
    text-decoration: underline;
}

.currentPage{
    color:black;
    font-weight: bold;
}

.forgot{
    margin: auto;
    font-size:40px; 
}

.textBlocks{
    margin: auto;
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 25px;
    padding: 15px;
    flex-wrap: wrap;
    font-style: normal;
}

.gallery{
    display: flex;
    justify-content: right;
    padding: 15px;
}

.nist{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.colored{
    background-color:rgb(242, 224, 255);
}

.right{
    width: fit-content;
}

.forgot{
    min-width: 30%;
    text-align: center;
    background-color: rgb(47, 0, 54);
    border: 10px solid black; 
    border-radius: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    display:block;
    text-decoration: none;
}

.forgot:hover{
    background-color: rgb(78, 2, 150);
    font-weight: bold;
}

.forgot:active{
    background-color: rgb(26, 0, 52);
    font-weight: bold;
}

.forgot, .sources{
    color: rgb(0, 0, 255);
}

.forgot:hover, .sources:hover{
    color: rgb(0, 251, 255);
}

.around{
    display: table;
    padding: 10px;
}

.sound{
    text-align: center;
    display: table-cell; 
    vertical-align: middle;
}

.sources{
    font-size: 25px;
    display: inline;
    font-family: "Poppins", "Arial", sans-serif;
    text-decoration: none;
}

.sources:hover{
    text-decoration: underline;
}

.indexText{
    margin: auto;
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 25px;
    padding: 15px;
    text-align: center;
}

.sixhund{
    max-width: 50%;
}
.fourhund{
    max-width: 30%;
}

.boarder{
    border-bottom: .5em solid black;
}

.section{
    border-bottom: 1em solid black;
}



@media (max-width: 50em) {
    .gallery, .nist {
        flex-direction:column;
    }

    .fourhund, .sixhund {
        max-width:100%;
    }    

    .textBlocks, .sources, .toplinks{
        font-size: 20px;
    }
}